<!-- {% extends 'base.html' %}

{% block title %} Card Score {% endblock %}

{% block content %}
    <div class="new-game">
        <form method="POST">
            <input type="text" name="no_players" placeholder="Enter number of players"></input>
            <button style="background-color: yellowgreen; color: white;" type="submit">Enter</button>
        </form>
    </div>
{% endblock %} -->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Mobile-first styles go here */
        body {
            padding: 20px;
            font-size: 18px;
        }

        /* Styles for larger screens */
        @media (min-width: 600px) {
            body {
                padding: 40px;
                font-size: 22px;
            }
        }
    </style>
</head>
<body>
    <div class="new-game">
        <form method="POST">
            <input type="text" name="no_players" placeholder="Enter number of players"></input>
            <button style="background-color: yellowgreen; color: white;" type="submit">Enter</button>
        </form>
    </div>
</body>
</html>