h2 {
    width: 100%;
}

.title {
    margin: 5px;
    width: 100%;
}

.players_form {
    vertical-align: middle;
    margin: 10px;
    width: 100%;
    /* text-align: center */
}

.table_card {
    vertical-align: middle;
    margin: 10px;
    height: 100%;
    text-align: center;
    width: 3cm;
}

.title a {
    color: #00a36f;
    text-decoration: none;
}

nav a {
    color: #d64161;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

.button {
    font: 22px "Open Sans", Helvetica, Arial, sans-serif;
    padding: 5px 36px;
  }